{
  "core": {
    "bot_token": "",
    "gfycat_id": "",
    "gfycat_secret": "",
    "prefix": "/",
    "isDebug": true
  },
  "audio": {
    "audioVolume": 0.25
  },
  "server": {
    "wordBlacklist": false,
    "channelWhitelist": [],
    "bannedWordsFile": ""
  }
}