{
  "core": {
    "bot_token": "",
    "gfycat_id": "",
    "gfycat_secret": "",
    "youtube_key": "",
    "prefix": "/",
    "isDebug": true
  },
  "audio": {
    "audioVolume": 0.25
  },
  "server": {
  }
}